.confirmpassword-header {
    font-size: 18px;
    color: rgb(77, 103, 208);
}
.confirmpassword-fieldError {
    margin-top: 0;
    font-size: 12px;
    color: rgb(240, 64, 102);
}
.confirmpassword-helpertext {
    font-size: 12px;
    color: rgb(77, 103, 208);
}

