$errorTextColor:  rgb(240, 64, 102);
$errorFontSize: 12px;
$headerTextColor : rgb(39, 68, 182);
$headerFontSize: 18px;
$helperTextColor : rgb(101, 123, 223);
$helperFontSize: 13px;
$inputFieldFontSize: 14px;