@import "../Styles/_variables.scss";
@import "../Styles/_mixins.scss";
@import "../Styles/_extends.scss";

.phonefield-header{
    @include headerComponent;   
}
.phonefield-error{
    @include errorComponent;
}

.phonefield-helper{
    @include helperComponent;
}
input[type=tel] {
    @include inputTextFieldComponent;
}

.phonefield-container{
    display: flex;
    width: 100%; 
}
.phonefield-select{
    width: 130px;
    height: 45px;
}

